<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>


<div>
<ol>  
  <% @questions.each do |question| %>
    <li><%= question.description %></li>
    <h4>Options: </h4>
    <ol>
      <% question.answers.each do |answer| %>
        <li><%= answer.description %></li>
      <% end %>
    </ol>
    <br/>
    <span><%= link_to 'Edit', edit_question_path(question) %></span>
    <span><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    <hr/>
  <% end %>
</ol>
<%= paginate @questions %>
<br>

<%= link_to 'New Question', new_question_path %>
